{% extends 'base-new.html' %}
{% block title %} Password Reset Successful {% endblock title %}

{% block content %}

    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow">
        <div class="row">
            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">DONE!</h1>               
                    <h3> Hi {{user.username}} your password has been set. You can log in now</h3>
                    <h4>Clik log in to continue <a href="{% url 'login' %}"></a></h4>
            </div> <!-- end s-content__header -->
        </div> <!-- end row -->

    </section> <!-- s-content -->
{% endblock %}