
{% extends 'base-new.html' %}
{% block title %} Password Reset Successful {% endblock title %}

{% block content %}

    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow">
        <div class="row">
            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">Hi {{user.username}}</h1>               
                    <h3>Set a new password! </h3>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Change Password</button>
                    </form>
            </div> <!-- end s-content__header -->
        </div> <!-- end row -->

    </section> <!-- s-content -->
{% endblock %}