
{% extends 'base-new.html' %}
{% load crispy_forms_tags %}
{% block title %} Password Change {% endblock title %}


{% block content %}

    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow">

        <div class="row">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    PASSWORD CHANGE
                </h1>
                <h6>Welcome Back {{user.username}}</h6>
            </div> <!-- end s-content__header -->

            <div class="s-content__media col-full ">
                <div class="s-content__post-thumb">
                    <p>Please type your old password, for security's sake, and then type twice your new password so we can verify you typed it in correctly</p>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit">Log In</button>
                    </form>
                </div>
            </div> <!-- end s-content__media -->


        </div> <!-- end row -->

    </section> <!-- s-content -->

    {% endblock %}