{% load static %} 

{% extends 'base-new.html' %}

{% block title %} NOT FOUND {% endblock title %}

{% block content %}

    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow">

        <div class="row">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    404
                </h1>
            </div> <!-- end s-content__header -->

        </div> <!-- end row -->

    </section> <!-- s-content -->

    {% endblock %}