{% extends 'base-new.html' %}
{% load static %}
{% block content %}

    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow s-content--no-padding-bottom">

        <article class="row format-standard">
            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    {{  article.title }}
                </h1>
                <ul class="s-content__header-meta">
                    <li class="date">{{  article.date_format }}</li>
                    <li class="cat">
                        
                        <a href="{% url 'article_category' article.category.pk %}">{{ article.category.title }}</a>
                    </li>
                </ul>

                {% if user.is_authenticated %}
                        <p class="s-content__tags">
                            <span>{{ article.author }}</span>
                        {% if user != article.author %}
                        {% else %}
                            <span class="s-content__tag-list">
                                <a class="text-blue" href="{% url 'article_edit' article.pk %}">Edit Article</a>
                                <a class="text-blue" href="{% url 'article_delete' article.pk %}">Delete Article </a>
                            </span>
                        </p> <!-- end s-content__tags -->
                        {% endif %}
                {% endif %}
            </div> <!-- end s-content__header -->
    
            <div class="s-content__media col-full">
                <div class="s-content__post-thumb">
                    <img src="{{ article.image.url }}"  alt="" >
                </div>
            </div> <!-- end s-content__media -->

            <div class="col-full s-content__main">
                {{  article.body|safe }}
            </div> <!-- end s-content__main -->

            <div>

                <p class="s-content__tags">
                    <span>Post Tags</span>
                    <span class="s-content__tag-list">
                        {% for tag in article.tags.all %}
                        <a href="">{{tag}}</a>
                        {% endfor %}
                    </span>
                </p> <!-- end s-content__tags -->
                
                <div class="s-content__author">
                    <img src="images/avatars/user-03.jpg" alt="">
                
                    <div class="s-content__author-about">
                        <h4 class="s-content__author-name">
                            <a href="#0">{{ article.author }}</a>
                        </h4>
                    
                        <p>{{ article.author.AboutYou }}
                        </p>
                
                        <ul class="s-content__author-social">
                           <!-- <li><a href="#0">Facebook</a></li>
                           <li><a href="#0">Twitter</a></li>
                           <li><a href="#0">LinkedIn</a></li>
                           <li><a href="#0">Instagram</a></li> -->
                        </ul>
                    </div>
                </div>
                
                <!-- <div class="s-content__pagenav">
                    <div class="s-content__nav">
                        <div class="s-content__prev">
                            <a href="/articles/{{ article.pk }}+ 1" rel="prev">
                                <span>Previous Post</span>
                                {{ previous.title }}
                            </a>
                        </div>
                        <div class="s-content__next">
                            <a href="{" rel="next">
                                <span>Next Post</span>
                                Less Is More 
                            </a>
                        </div>
                    </div>
                </div> end s-content__pagenav -->
            </div>
        </article>


    </section> <!-- s-content -->


    {% endblock content %}