{% extends 'base-new.html' %}
{% load static %}
{% block content %}

    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow s-content--no-padding-bottom">

        <article class="row format-standard">
            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    {{  article.title }}
                </h1>
                <ul class="s-content__header-meta">
                    <li class="date">{{  article.date_format }}</li>
                    <li class="cat">
                        In
                        <a href="{% url 'article_category' article.category.pk %}">{{ article.category.title }}</a>
                    </li>
                </ul>

                {% if user.is_authenticated %}
                        <p class="s-content__tags">
                            <span>{{ article.author }}</span>
                            <span class="s-content__tag-list">
                                <a class="text-blue" href="{% url 'article_edit' article.pk %}">Edit Article</a>
                                <a class="text-blue" href="{% url 'article_delete' article.pk %}">Delete Article </a>
                            </span>
                        </p> <!-- end s-content__tags -->
                {% endif %}
            </div> <!-- end s-content__header -->
    
            <div class="s-content__media col-full">
                <div class="s-content__post-thumb">
                    <img src="{{ article.image.url }}"  alt="" >
                </div>
            </div> <!-- end s-content__media -->

            <div class="col-full s-content__main">
                {{  article.body|safe }}
            </div> <!-- end s-content__main -->

        </article>
        <!-- comments
        ================================================== -->
        <div class="comments-wrap">

            <div id="comments" class="row">
                <div class="col-full">

                    <h3 class="h2">Comments</h3>

                    <!-- commentlist -->
                    <ol class="commentlist">
                        {% for comment in article.comments.all %}

                        <li class="depth-1 comment">

                            <div class="comment__avatar">
                                <img width="50" height="50" class="avatar" src="images/avatars/user-01.jpg" alt="">
                            </div>

                            <div class="comment__content">

                                <div class="comment__info">
                                    <cite>{{ comment.author }}</cite>

                                    <div class="comment__meta">
                                        <time class="comment__time">{{ comment.date_format }}</time>
                                        <!-- <a class="reply" href="#0">Reply</a> -->
                                    </div>
                                </div>

                                <div class="comment__text">
                                <p>{{ comment.comment }}</p>
                                </div>

                            </div>

                    {% endfor %}

                    </ol> <!-- end commentlist -->


                    <!-- respond
                    ================================================== -->
                    <div class="respond">

                        <h3 class="h2">Add Comment</h3>

                        <form name="contactForm" id="contactForm" method="post" action="">
                            <fieldset>

                                <div class="form-field">
                                        <input name="cName" type="text" id="cName" class="full-width" placeholder="Your Name" value="">
                                </div>

                                <div class="form-field">
                                        <input name="cEmail" type="text" id="cEmail" class="full-width" placeholder="Your Email" value="">
                                </div>

                                <div class="form-field">
                                        <input name="cWebsite" type="text" id="cWebsite" class="full-width" placeholder="Website" value="">
                                </div>

                                <div class="message form-field">
                                    <textarea name="cMessage" id="cMessage" class="full-width" placeholder="Your Message"></textarea>
                                </div>

                                <button type="submit" class="submit btn--primary btn--large full-width">Submit</button>

                            </fieldset>
                        </form> <!-- end form -->

                    </div> <!-- end respond -->

                </div> <!-- end col-full -->

            </div> <!-- end row comments -->
        </div> <!-- end comments-wrap -->
    </section> <!-- s-content -->

    {% endblock content %}