

{% extends 'base-new.html' %}

{% block title %} log In {% endblock title %}

{% block content %}

    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow">

        <div class="row">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    Delete  Article
                </h1>
            </div> <!-- end s-content__header -->

            <div class="s-content__media col-full ">
                <div class="s-content__post-thumb">
                    <form action="" method="POST">{% csrf_token %} <p>Are you sure you want to delete "{{ article.title }}" Article?</p> 
                        <input type="submit" value="Confirm">
                        <a href="{% url 'article_detail' article.pk%}">Back</a>
                    </form>
                </div>
            </div> <!-- end s-content__media -->


        </div> <!-- end row -->

    </section> <!-- s-content -->

    {% endblock %}