{% extends 'base-new.html' %}

{% block title %} CONTACT {% endblock title %}

{% block content %}

    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow">

        <div class="row">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    Feel Free To Contact Us.
                </h1>
            </div> <!-- end s-content__header -->
    
            <div class="s-content__media col-full">
                <div id="map-wrap">
                    <div id="map-container"></div>
                    <div id="map-zoom-in"></div>
                    <div id="map-zoom-out"></div>
                </div> 
            </div> <!-- end s-content__media -->

            <div class="col-full s-content__main">

                <p class="lead">You are soo welcome to contribute to this website. </p>
                
                <p>If you are interested in publish please contact first and you will get the basic template
                    post so you can share your ideas in a beutifull way and keep the styling of this page.
                    As you may gess this site was made using a cool Bootstrap template.
                </p>

                <div class="row">
                    <div class="col-six tab-full">
                        <h3>Where to Find Us</h3>

                        <p>
                        Vancouver, BC<br>
                        Canada
                        </p>

                    </div>

                    <div class="col-six tab-full">
                        <h3>Contact Info</h3>
                        <p>contact@dlabstudio.co<br>
                        </p>

                    </div>
                </div> <!-- end row -->

                <h3>Say Hello.</h3>

                <form name="cForm" id="cForm" method="post" action="">
                    <fieldset>

                        <div class="form-field">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}

                            </form>
                        </div>

                        <button type="submit" class="submit btn btn--primary full-width">Submit</button>

                    </fieldset>
                </form>  
                <!-- end form -->


            </div> <!-- end s-content__main -->

        </div> <!-- end row -->

    </section> <!-- s-content -->


{% endblock %}
