{% extends 'base.html' %}

{% block title %} HOME {% endblock title %}

{% block content %}


<div class="pageheader-content row">
    <div class="col-full">

        <div class="featured">

            <div class="featured__column featured__column--big">
                <div class="entry" style="background-image:url('{{ lastPost.image.url }}');">
                    
                    <div class="entry__content">
                        <span class="entry__category"><a href="{% url 'article_category' lastPost.category.pk %}">{{ lastPost.category }}</a></span>

                        <h1><a href="{% url 'article_detail' lastPost.pk  %}" title="">{{ lastPost.title }}</a></h1>

                        <div class="entry__info">
                            <a href="{% url 'article_detail' lastPost.pk  %}" class="entry__profile-pic">
                                <img class="avatar" src= '{{ lastPost.avatar.url }}' alt="">
                            </a>

                            <ul class="entry__meta">
                                <li><a href="{% url 'article_author' lastPost.author.pk %}">{{ lastPost.author }}</a></li>
                                <li>{{ lastPost.date_format}}</li>
                            </ul>
                        </div>
                    </div> <!-- end entry__content -->
                    
                </div> <!-- end entry -->
            </div> <!-- end featured__big -->

            <div class="featured__column featured__column--small">
                {% for post in frontPosts %}
                <div class="entry" style="background-image:url('{{ post.image.url }}');">
                    
                    <div class="entry__content">
                        <span class="entry__category"><a href="{% url 'article_category' post.category.pk %}">{{ post.category }}</a></span>

                        <h1><a href="{{ post.get_absolute_url  }}" title="">{{ post.title }}</a></h1>

                        <div class="entry__info">
                            <a href="{% url 'article_author' post.author.pk %}" class="entry__profile-pic">
                                <img class="avatar" src="{{ post.avatar.url }}" alt="">
                            </a>

                            <ul class="entry__meta">
                                <li><a href="{% url 'article_author' post.author.pk %}">{{ post.author }}</a></li>
                                <li>{{ post.date_format }}</li>
                            </ul>
                        </div>
                    </div> <!-- end entry__content -->
                </div> <!-- end entry -->
                {% endfor %}
            </div> <!-- end featured__small -->
        </div> <!-- end featured -->

    </div> <!-- end col-full -->
</div> <!-- end pageheader-content row -->

</section> <!-- end s-pageheader -->


<!-- s-content
================================================== -->
<section class="s-content">

<div class="row masonry-wrap">
    <div class="masonry">

        <div class="grid-sizer"></div>

        <article class="masonry__brick entry format-standard" data-aos="fade-up">
                
            <div class="entry__thumb">
                <a href="{% url 'article_detail' middle.pk %}" class="entry__thumb-link">
                    <img src="{{ middle.image.url }}"  alt="">
                </a>
            </div>

            <div class="entry__text">
                <div class="entry__header">
                    
                    <div class="entry__date">
                        <a href="{% url 'article_detail' middle.pk %}">{{ middle.date_format }}</a>
                        <a href="{% url 'article_author' middle.author.pk %}">{{ middle.author }}</a>
                    </div>
                    <h1 class="entry__title"><a href="{% url 'article_detail' middle.pk %}">{{ middle.title }}</a></h1>
                    
                </div>
                <div class="entry__excerpt">
                    <p>
                        <div class="resume" >{{ middle.body_into|safe }}...</div>
                    </p>
                </div>
                <div class="entry__meta">
                    <span class="entry__meta-links">
                        {% for tag in post.tags.all %}
                        <a href="{% url 'tag' tag.pk %}">{{tag}}</a> 
                        {% endfor %}
                    </span>
                </div>
            </div>

        </article> <!-- end article -->
        
        <article class="masonry__brick entry format-quote" data-aos="fade-up">
                
            <div class="entry__thumb">
                <blockquote>
                        <p>Good design is making something intelligible and memorable. Great design is making something memorable and meaningful.</p>

                        <cite>Dieter Rams</cite>
                </blockquote>
            </div>   

        </article> <!-- end article -->

        {% for post in restPost %}

        <article class="masonry__brick entry format-standard" data-aos="fade-up">
                
            <div class="entry__thumb">
                <a href="{% url 'article_detail' post.pk  %}" class="entry__thumb-link">
                    <img src="{{ post.image.url }}"  alt="">
                </a>
            </div>

            <div class="entry__text">
                <div class="entry__header">
                    
                    <div class="entry__date">
                        <a href="{% url 'article_detail' post.pk  %}">{{ post.date_format }}</a>
                        <a href="{% url 'article_author' post.author.pk %}">{{ post.author }}</a>
                    </div>
                    <h1 class="entry__title"><a href="{% url 'article_detail' post.pk  %}">{{ post.title }}</a></h1>
                    
                </div>
                <div class="entry__excerpt">
                    <p>
                        <div class="resume" >{{ post.body_into|safe }}...</div>
                    </p>
                </div>
                <div class="entry__meta">
                    <span class="entry__meta-links">
                        {% for tag in post.tags.all %}
                        <a href="{% url 'tag' tag.pk %}">{{tag}}</a> 
                        {% endfor %}
                    </span>
                </div>
            </div>

        </article> <!-- end article -->

        {% endfor %}
    </div> <!-- end masonry -->
</div> <!-- end masonry-wrap -->

</section> <!-- s-content -->

{% endblock content %}