
{% extends 'base-new.html' %}

{% block title %} log In {% endblock title %}

{% block content %}

    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow">

        <div class="row">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    Log In.
                </h1>
                <h6>Welcome Back</h6>
            </div> <!-- end s-content__header -->

            <div class="s-content__media col-full ">
                <div class="s-content__post-thumb">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Log In</button>
                             <a href="{% url 'password_reset' %}">Forgot Password</a>
                
                    </form>
                </div>
            </div> <!-- end s-content__media -->


        </div> <!-- end row -->

    </section> <!-- s-content -->

    {% endblock %}