{% extends 'base-new.html' %}
{% load static %}
{% block title %} ABOUT {% endblock title %}

{% block content %}


    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow">

        <div class="row">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    Learn More About Us.
                </h1>
            </div> <!-- end s-content__header -->

            <div class="s-content__media col-full">
                <div class="s-content__post-thumb">                    
                    <img src="{% static 'images/thumbs/about/about.jpg' %}" alt="https://unsplash.com/@xaviercoiffic" >
                    <p>Photo by <a href="https://unsplash.com/@xaviercoiffic" target="_blank">@xaviercoiffic</a></p>
                </div>
            </div> <!-- end s-content__media -->

            <div class="col-full s-content__main">

                <p class="lead">
                    This is a space created for those who love to solve problems, and share
                    their solutions to the world. Its a space for begginers who start the endless
                    path of web development. Here you can inspire others, not with the talking
                    but with the doing. 
                </p>
                
                <p>
                    Every day a new framework, a new language ot new lybrary is release. As you,
                    we wating the day that they run out of names for JS frameworks, or that the world
                    stop until we finish to learn Vue.js. But meanwhile, youll find differents solutions
                    for dayly probelm you will face learning all these technologies.

                </p>
                    The whole day we are coding, watching lines and lines of code, and we know you came
                    here loking for a code to copy and paste. Dont worry you will find it. But we want to
                    offer you the oportunity to relax your mind, apreciating a beautifull image from Unsplash
                    at the beggining of evey post.
                </p>

                <div class="row block-1-2 block-tab-full">
                    <div class="col-block">
                        <h3 class="quarter-top-margin">Who We Are.</h3>
                        <p>
                            We are a commuity of web developers creating simple and easy to implement 
                            tutorials. This site was born with the idea to share 
                            diferent knowledge related to the current web technologies.
                        </p>
                    </div>

                    <div class="col-block">
                        <h3 class="quarter-top-margin">Our Mission.</h3>
                        <p>
                            Give simple solutions to every-day web developers problems.
                        </p>
                    </div>

                    <div class="col-block">
                        <h3 class="quarter-top-margin">Our Vision.</h3>
                        <p>
                            Get the expertise of diferents developers, no mather
                            what technology they use, posting here their
                            tutoriasl sharing their experience and help others to improve 
                            their skills. 
                        </p>
                    </div>

                    <div class="col-block">
                        <h3 class="quarter-top-margin">Our Values.</h3>
                        <p>
                            <strong>Passion</strong> to improve our skills everyday, 
                            finding a new solution to diferent problems taking advantage
                            of the coding flexibility. <strong> Diversity </strong> by 
                            adopting and respecting different thinkings, cultures and technologies.
                        </p>
                    </div>

                </div>


            </div> <!-- end s-content__main -->

        </div> <!-- end row -->

    </section> <!-- s-content -->

{% endblock %}