
{% extends 'base.html' %}
{% load static %}
{% block content %}

    <header class="masthead" style="background-image:url('{{ post.image.url }}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="post-heading">
                    <h1>{{  article.title }}</h1>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <p>{{ article.body }}</p>
            </div>
        </div>
        <div class="row">
            <div class="clearfix"><a class="btn btn-primary float-right m-3" href="{% url 'article_delete' article.pk %}">Delete Article</a></div>
            <div class="clearfix"><a class="btn btn-primary float-right m-3" href="{% url 'article_edit' article.pk %}">Edit Article</a></div>

        </div>
    </div>
</article>


{% endblock content %}