{% extends 'base-new.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}



    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow s-content--no-padding-bottom">

        <article class="row format-standard">
            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    {{  article.title }}
                </h1>
                <ul class="s-content__header-meta">
                    <li class="date">{{  article.date_format }}</li>
                    <li class="cat">
                        <a href="{% url 'article_category' article.category.pk %}">{{ article.category.title }}</a>
                    </li>
                </ul>

                {% if user.is_authenticated %}
                        <p class="s-content__tags">
                            <a href="{% url 'article_author' article.author.pk %}"><span>{{ article.author }}</span></a>
                            
                        {% if user != article.author %}
                        {% else %}
                            <span class="s-content__tag-list">
                                <a class="text-blue" href="{% url 'article_edit' article.pk %}">Edit Article</a>
                                <a class="text-blue" href="{% url 'article_delete' article.pk %}">Delete Article </a>
                            </span>
                        </p> <!-- end s-content__tags -->
                        {% endif %}
                {% endif %}
            </div> <!-- end s-content__header -->
    
            <div class="s-content__media col-full">
                <div class="s-content__post-thumb">
                    <img src="{{ article.image.url }}"  alt="sdfd" >
                    <p>Photo by <a href="https://unsplash.com/{{ article.image_by }}" target="_blank">{{ article.image_by }}</a></p>
                </div>
            </div> <!-- end s-content__media -->

            <div class="col-full s-content__main">
                {{  article.body|safe }}
            </div> <!-- end s-content__main -->
            <ul class="s-content__tags shareList">
                <!-- <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a> -->
                    {% with base_url="https://deigobustosdev.com/g-news" %} 
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ article.get_absolute_url }}/&title={{ article.title }}&summary={{ article.body_into }}&source={{ article.get_absolute_url }}/" add target="_blank"><i class="fa fa-linkedin" style="color: black; font-size: 30px;" aria-hidden="true"></i></a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><i class="fa fa-facebook" style="color: black; font-size: 30px;" add target="_blank" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20http://codingforentrepreneurs.com/" add target="_blank"><i class="fa fa-twitter" style="color: black; font-size: 30px;" aria-hidden="true"></i></a>
                        <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}/&title=Unlock%20to%20Learn%20Swift%20for%20Free!%20By%20Swift%20for%20Entrepreneurs.%20Made%20for%20Non%20Techincals." add target="_blank"><i class="fa fa-reddit" style="color: black; font-size: 30px;" aria-hidden="true"></i></a>
                    {% endwith %}                        
            </ul> <!-- end header__social -->
            <div>
                <p class="s-content__tags">
                    <span>Post Tags</span>
                    <span class="s-content__tag-list">
                        {% for tag in article.tags.all %}
                        <a href="{% url 'tag' tag.pk %}">{{tag}}</a>
                        {% endfor %}
                    </span>
                </p> <!-- end s-content__tags -->                
                
                <div class="s-content__author">
                    <img src="{{ article.author.avatar.url }}" alt="">
                
                    <div class="s-content__author-about">
                        <h4 class="s-content__author-name">
                            <a href="{% url 'article_author' article.author.pk %}">{{ article.author }}</a>
                        </h4>
                    
                        <p>{{ article.author.AboutYou }}</p>
                
                        <ul class="s-content__author-social">
                           <!-- <li><a href="#0">Facebook</a></li>
                           <li><a href="#0">Twitter</a></li>
                           <li><a href="#0">LinkedIn</a></li>
                           <li><a href="#0">Instagram</a></li> -->
                        </ul>
                    </div>
                </div>
                
                <!-- <div class="s-content__pagenav">
                    <div class="s-content__nav">
                        <div class="s-content__prev">
                            <a href="/articles/{{ article.pk }}+ 1" rel="prev">
                                <span>Previous Post</span>
                                {{ previous.title }}
                            </a>
                        </div>
                        <div class="s-content__next">
                            <a href="{" rel="next">
                                <span>Next Post</span>
                                Less Is More 
                            </a>
                        </div>
                    </div>
                </div> end s-content__pagenav -->
            </div>
        </article>

        <!-- comments
        ================================================== -->
        <div class="comments-wrap">

            <div id="comments" class="row">
                <div class="col-full">

                    <h3 class="h2">Comments</h3>

                    <!-- commentlist -->
                    <ol class="commentlist">
                        {% for comment in article.comments.all %}

                        <li class="depth-1 comment">

                            <div class="comment__avatar">
                                <img width="50" height="50" class="avatar" src="{{ article.author.avatar.url }}" alt="">
                            </div>

                            <div class="comment__content">

                                <div class="comment__info">
                                    <cite>{{ comment.author }}</cite>

                                    <div class="comment__meta">
                                        <time class="comment__time">{{ comment.date_format }}</time>
                                        <!-- <a class="reply" href="#0">Reply</a> -->
                                    </div>
                                </div>

                                <div class="comment__text">
                                <p>{{ comment.comment }}</p>
                                </div>

                            </div>
                            {% empty %}
                             <p>Don't be shy! be the first to comment! ✌🏼</p>
                             {% if not user.is_authenticated %}
                             <p>
                                Do you want to leave your comment? Sign up first! 
                                👉🏼 <a href="{% url 'signup' %}">Sign Up</a> <br>
                                Already here? please <a href="{% url 'login' %}">Log In</a>
                            </p>
                            {% endif %}
                    {% endfor %}

                    </ol> <!-- end commentlist -->

                    <div class="respond">
                        {% if user.is_authenticated %}
                        <h3 class="h2">Add Comment</h3>
                            <fieldset>
                                <form action = "{% url 'add_comment' article.pk%}" name="contactForm" id="contactForm" method="post" action="">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button class ="btn btn-success" type="submit">Comment</button>
                                </form> <!-- end form -->
                            </fieldset>
                        {% endif %}
                    </div> <!-- end respond -->


                </div> <!-- end col-full -->

            </div> <!-- end row comments -->
        </div> 
        <!-- end comments-wrap -->

    </section> <!-- s-content -->


    {% endblock content %}