
{% extends 'base.html' %}

{% block content %}
<header class="masthead" style="background-image:url('/static/img/post-bg.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="post-heading">
                    <h1>Delete  Article</h1>
            </div>
        </div>
    </div>
</header>

<form action="" method="POST">{% csrf_token %} <p>Are you sure you want to delete "{{ article.title }}" Article?</p> 
    <input type="submit" value="Confirm">
    <a href="{% url 'article_list' %}">Back</a>
</form>
{% endblock content %}