{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %} NEWS PAPER APP {% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top {% if request.path == '/' %} position-absolute {% endif %}" id="mainNav">
       
                <div class="container"><a class="navbar-brand {% if request.path != '/' %} text-dark {% endif %}" href="{% url 'home' %}">STORYTELLER</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>

                <div class="collapse navbar-collapse " id="navbarResponsive">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link {% if request.path != '/' %} text-dark {% endif %}" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link {% if request.path != '/' %} text-dark {% endif %}" href="{% url 'article_list' %}">Articles</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link {% if request.path != '/' %} text-dark {% endif %}" href="{% url 'article_new' %}"">New Post</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link {% if request.path != '/' %} text-dark {% endif %}" href="">Contact</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item" role="presentation"><a class="nav-link {% if request.path != '/' %} text-dark {% endif %}" href="">{{ user.username }}</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link {% if request.path != '/' %} text-dark {% endif %}" href="{% url 'logout' %}">Log Out</a></li>
                        {% else %}
                        <li class="nav-item" role="presentation"><a class="nav-link {% if request.path != '/' %} text-dark {% endif %}" href="{% url 'login' %}">Log In</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link {% if request.path != '/' %} text-dark {% endif %}" href="{% url 'signup' %}">Sign Up</a></li>

                        {% endif %}
                    </ul>
            </div>
            </div>
        </nav>

        {% block content %}
        {% endblock content %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></li>
                        <a href="https://github.com/Diegobg12"> <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse"></i></span></li> </a>
                        
                    </ul>
                    <p class="text-muted copyright">Diego Bustos 🦅 2020</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'assets/js/script.min.js' %}"></script>
</body>
</html>