{% load crispy_forms_tags %}

                    <!-- respond
                    ================================================== -->
                    <div class="respond">

                        <h3 class="h2">Add Comment</h3>

                        <fieldset>
                            <form action = "{% url 'add_comment' article.pk%}" name="contactForm" id="contactForm" method="post" action="">
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button class ="btn btn-success" type="submit">Edit Up</button>
                            </fieldset>
                        </form> <!-- end form -->

                    </div> <!-- end respond -->

